a {
    text-decoration: none
}

.pill-wrap {
    width:30%;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    box-shadow: none!important;
}

.border-custom {
  border: 1px solid #ced4da;
}

.customListItem:before {
    content: "- ";
}